# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

*.log

# Dependency directories
vendor/


.idea/

# VS Code launch file
launch.json

# TODO remove later
testnet
dockerisedvega.sh
Makefile
zero-genesis.json
capsule
nomad-config.hcl
private/
