job "{{ .Name }}-{{ .Index }}" {
  datacenters = ["dc1"]

  group "clef-node" {
    network {
      port "http" {
        to = 8550
        static = 855{{ .Index }}
      }
    }

    task "clef-node" {
      driver = "docker"

      config {
        image = "vegaprotocol/clef:v2.2.1"
        auth_soft_fail = true
        ports = ["http"]
      }

      resources {
        cpu    = 1000
        memory = 2000
      }
    }
    
    task "logger" {
      driver = "raw_exec"

      config {
        command = "bash"
        args = [
          "-c",
          join(" ", [
            "{{ .CapsuleBinary }}",
              "nomad", "logscollector",
              "--out-dir", "{{ .LogsDir }}/{{ .Name }}-{{ .Index }}"
          ])
        ]
      }

      resources {
        cpu    = 100
        memory = 100
        memory_max = 300
      }
    }

  }
}