GatewayEnabled = true

[SQLStore]
  Enabled = true
  [SQLStore.ConnectionConfig]
    Port = 5232
    UseTransactions = true
    Database = "vega{{.NodeNumber}}"
  

[API]
  Level = "Info"
  Port = 30{{.NodeNumber}}7
  CoreNodeGRPCPort = 30{{.NodeNumber}}2

[Pprof]
  Level = "Info"
  Enabled = false
  Port = 6{{.NodeNumber}}60
  ProfilesDir = "{{.NodeHomeDir}}"

[Gateway]
  Level = "Info"
  [Gateway.Node]
    Port = 30{{.NodeNumber}}7
  [Gateway.GraphQL]
    Port = 30{{.NodeNumber}}8
  [Gateway.REST]
    Port = 30{{.NodeNumber}}9
	
[Metrics]
  Level = "Info"
  Timeout = "5s"
  Port = 21{{.NodeNumber}}2
  Enabled = false
[Broker]
  Level = "Info"
  UseEventFile = false
  [Broker.SocketConfig]
    Port = 30{{.NodeNumber}}5

[DeHistory]
  Level = "Info"
  Enabled = true
  WipeOnStartup = false
  SaveSnapshots = true
  SaveInterval = "5s"
  [DeHistory.Store]
    IdSeed = "b648808b-3479-439f-b7b7-7a350839f956"
    SwarmKey = "laodofguffbarson"
    UseIpfsDefaultPeers = true
    BootstrapPeers = []
    SwarmPort = 4001
    StartWebUI = false
    WebUIPort = 5001
  [DeHistory.Snapshot]
    PanicOnSnapshotCreationError = true
    DatabaseSnapshotsCopyToPath = "/snapshotsCopyTo"
    DatabaseSnapshotsCopyFromPath = "/snapshotsCopyFrom"
    WaitForCreationLockTimeout = "5s"