GatewayEnabled = true
[SQLStore]
  Enabled = true
  [SQLStore.ConnectionConfig]
    Database = "vega"
    Host = "localhost"
    Password = "vega"
    Port = 5{{.NodeNumber}}32
    UseTransactions = true
    Username = "vega"

[API]
  Level = "Info"
  Port = 30{{.NodeNumber}}7
  CoreNodeGRPCPort = 30{{.NodeNumber}}2

[Pprof]
  Level = "Info"
  Enabled = true
  Port = 6{{.NodeNumber}}60
  ProfilesDir = "{{.NodeHomeDir}}"

[Gateway]
  Level = "Info"
  [Gateway.Node]
    Port = 30{{.NodeNumber}}7
  [Gateway.GraphQL]
    Port = 30{{.NodeNumber}}8
  [Gateway.REST]
    Port = 30{{.NodeNumber}}9

[Metrics]
  Level = "Info"
  Timeout = "5s"
  Port = 21{{.NodeNumber}}2
  Enabled = false
[Broker]
  Level = "Info"
  UseEventFile = false
  PanicOnError = false
  [Broker.SocketConfig]
    Port = 30{{.NodeNumber}}5

[DeHistory]
  Level = "Info"
  Enabled = true
  WipeOnStartup = true
  AddSnapshotsToStore = true
  AddSnapshotsInterval = "5s"
  [DeHistory.Store]
    IdSeed = "{{ b64enc "system-tests" }}-3479-439f-b7b7-{{.NodeNumber}}"
    UseIpfsDefaultPeers = true
    BootstrapPeers = []
    SwarmPort = 40{{.NodeNumber}}5
    StartWebUI = false
    WebUIPort = 50{{.NodeNumber}}5
  [DeHistory.Snapshot]
    PanicOnSnapshotCreationError = true
    WaitForCreationLockTimeout = "5s"