name = "genesis"

[vega]
  [vega.binary]
    # Current vega binary is automatically copied to genesis folder by Vegacapsule
    path = "vega"
    args = ["node",
      "--home", "{{ .NodeSet.Vega.HomeDir }}",
      "--tendermint-home", "{{ .NodeSet.Tendermint.HomeDir }}",
      "--nodewallet-passphrase-file", "{{ .NodeSet.Vega.NodeWalletPassFilePath }}",
    ]
  [vega.rpc]
    socketPath = "/tmp/vega-{{ .NodeSet.Index }}.sock"
    httpPath = "/rpc"

{{ if .NodeSet.DataNode }}
[data_node]
    [data_node.binary]
    path = "data-node"
    args = ["node",
      "--home", "{{ .NodeSet.DataNode.HomeDir }}",
    ]
{{ end }}